body{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
}

.header-content{
	background-color: #2A2D2D;
	color: #E6F3F5;
	min-height: 120px;
}

.header-content h1{
	font-family: 'Press Start 2P', cursive;
}

.body-content{
	background-color: white;
	color: #2A2D2D;
	margin-top: 20px;
}

.body-content h3{
	font-family: 'Source Serif Pro', serif;
	font-weight: 700;
	margin: 30px 0 0 0;
}

.header-avatar{
	max-width: 100px;
	margin: 20px 0 20px 0;
}

.extra-bold{
	font-weight: 800;
}