body{
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}

.header-content{
	background-color: #2A2D2D;
	color: #E6F3F5;
	min-height: 200px;
}

.header-content h1{
	font-family: 'Press Start 2P', cursive;
}

.body-content{
	background-color: white;
	color: #2A2D2D;
	margin-top: 20px;
}

.body-content h4{
	font-family: 'Press Start 2P', cursive;
	margin: 30px 0 0 0;
}

.header-avatar{
	max-width: 150px;
	margin: 20px 0 20px 0;
}